@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  font-family: "Source Sans 3", sans-serif;
  padding: 2.5rem 5rem;
  height: 100vh;
  overflow: hidden;
}
a{
  text-decoration: none;
}
img{
  width: 100%;
}
ul,ol{
  list-style: none;
}

.logoCtn{
  width: 12rem;
}
section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
}
.card{
  margin-top: 4rem;
  /* height: 400px; */
  width: 352px;
  padding: 2rem 2.4rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  border-radius: 10px;
}
div h3{
  font-size: 3.5rem;
  font-weight: 600;
}
div p{
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: .2rem;
}
form{
  margin-top: 3.5rem;
}
.inputs{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.inputs input{
  padding: 1.5rem;
  font-size: 1.6rem;
  border-radius: 5px;
  border: 1px solid #444;
}
input::placeholder{
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.6rem;
}
p>a{
  color: #0a66c2;
  font-weight: 600;
  font-size: 1.8rem;
}
form p{
  margin-top: 1rem;  
}
button{
  background-color: #0a66c2;
  width: 100%;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  padding: 1.5rem 2.4rem;
  border-radius: 2.8rem;
  border: none;
  margin-top: 2.5rem;
}
.line{
  height: 1px;
  width: 140px;
  background: #ccc;
}
.separator{
  width: 100%;
  margin: 3rem auto 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #888;
}
.separator+p{
  font-size: 1.4rem;
}
.special{
  color: #0a66c2;
}
.btnSection{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
footer{
  margin-top: 7rem;
}
.footerList{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 600;
  color: #00000099;
  gap: 2rem;
}